.matches {
  .foundMatches {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-right: 10px;
  }

  .matchesCounter {
    color: rebeccapurple;
    font-size: 14px;
  }
}
