.wrapper {
  margin: 50px 90px 30px;

  .header {
    font-size: 20px;
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer {
  text-align: center;
  opacity: 0.6;
  padding-top: 40px;
  font-size: 13px;

  a { text-decoration: none; }
}
