$themeColor: rebeccapurple;

.wrapper {
  padding: 50px 90px 30px;
  position: relative;

  .hidden {
    display: none;
  }

  .header {
    font-size: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .rightSide {
    .timer, .moves, .matches {
      display: flex;
      justify-content: space-between;
      width: 150px;
      margin-bottom: 5px;

      .elapsedTime, .foundMatches, .movesMessage {
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      .timerCounter, .matchesCounter, .movesCounter {
        color: $themeColor;
        font-size: 14px;
      }
    }
  }

  .board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer {
  text-align: center;
  opacity: 0.6;
  padding-top: 40px;
  font-size: 13px;

  a { text-decoration: none; }
}

button {
  margin: 20px;
  padding: 10px 40px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid $themeColor;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s ease-in-out;

  &:hover {
    box-shadow: 0 0 0 5px rgba($themeColor, 0.4);
    color: $themeColor;
  }
}
