$dark-gray: #a9a9a9;

.card {
  img {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 70px;
    padding: 5px;

    transition: all .2s ease-in-out;
    &:hover { box-shadow: 0 0 10px $dark-gray; }
  }

  margin: 5px;
  cursor: pointer;

  .back {
    height: 96.375px;
    opacity: 0;

    // Trying to stop that flicker of images loading before styles load
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration: 1s;
    animation-delay: .5s;

    @-webkit-keyframes fadeIn {
      from { opacity: 0; }
      to   { opacity: 1; }
    }

    @-moz-keyframes fadeIn {
      from { opacity: 0; }
      to   { opacity: 1; }
    }

    @keyframes fadeIn {
      from { opacity: 0; }
      to   { opacity: 1; }
    }
  }

  .front {
    display: none;
  }
}
